@import url(reset.css);
@import url(global.css);
@import url(components/navigator.css);

.s-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.s-wrapper video{
    position: fixed;
    width: 100%;
}

.s-wrapper .s-left-column{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content{
    height: 100%;
    width: 100%;
    background-color: gray;
    padding-left: 30px;
}

.s-wrapper .s-main-content_top{

}

.s-wrapper .s-main-content_bottom{
    
}

.s-wrapper .s-main-content .s-logo img{
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

/* .s-wrapper .s-main-content-top .s-description */

/* classe pills */

/* classe gallery */

.s-spiderman-01-01{
    background-image: url();
    background-size: cover;
}

.s-spiderman-01-01{
    background-image: url();
    background-size: cover;
}


