/* classe gallery */

.gallery{
    padding: 10px;
    padding-left: 0;
    margin-top: 10px;
}

.gallery ul{
    display: flex;
    flex-direction: row;
}

.gallery ul li{
    margin-left: 25px;
}

.gallery ul li:first-child{
    margin-left: 0px;
}

.gallery ul li a img{
    border: solid 6px white;
    border-radius: 15px;
}